<section class="gh-content">
  <h3>Contact Us</h3>
  <p>
      We are located at <a href="geo:41.75304,124.19554"/>245 Price Mall</a> in Crescent City. Our hours vary by season but our email is always open!
  </p>
  <div class="kg-card kg-button-card kg-align-center">
    <a
      href="/contact"
      class="kg-btn kg-btn-accent"
    >Contact us</a>
  </div>
</section>