<section class="gh-content">
  <h3>Donate today!</h3>
  <p>Keep the Forge lit,
    <a
      href="https://www.zeffy.com/donation-form/049b8714-6530-469b-9159-0e5389e24ce3"
    >donate today</a>! Your donations directly support our mission to bring high
    quality STEAM programming, events, and support to Del Norte and surrounding
    counties.
  </p>
  <div class="kg-card kg-button-card kg-align-center">
    <a
      href="#"
      class="kg-btn kg-btn-accent"
      zeffy-form-link="https://www.zeffy.com/embed/donation-form/049b8714-6530-469b-9159-0e5389e24ce3?modal=true"
    >Donate!</a>
  </div>
  <p>We use Zeffy to process our donations, they are a non-profit supported by
    donations. We love Zeffy because they do not take a card processing fee,
    which means more of your donation goes to our mission. If you are willing
    and able, please consider donating to Zeffy, they provide a valuable service
    to many non-profits.</p>
</section>