<section class="gh-content">
  <h3>FIRST Programs</h3>
  <p><a href="">FIRST Inspires</a>
    is a global non-profit aimed at supporting STEM programming, like FIRST Lego
    League and FIRST Tech Challenge.
  </p>
  <p class="container">
    <img class="col-6" src="{{asset 'images/ftc.png'}}" />
    <img class="col-6" src="{{asset 'images/fll.png'}}" />
  </p>
  <p>
    <strong>FLL and FTC are competitive robotics programs</strong>
    where we gather weekly to learn, problem solve, and have fun. Every year, a
    new challenge is released and our teams set off to program a robot, create a
    research project, and compete at qualifiying events. These programs offer a
    safe environment to hone various skills, skills that students can use in
    real world STEAM careers. Participation in these programs also qualifies
    students for scholarships and other oppurtunities. Learn more below!
  </p>
  <div class="kg-card kg-button-card kg-align-center">
    <a href="/ftc" class="kg-btn kg-btn-accent">FTC</a>&nbsp;&nbsp;
    <a href="/fll-c" class="kg-btn kg-btn-accent">Lego League</a>
  </div>
</section>