<section class="gh-content">
  <h3>Newsletter Memberships</h3>
  <p>
    Every student deserves the oppurtunity to learn about STEAM subjects, to
    understand what the possibilities are in engineering, arts, technology, and
    beyond. Our community deserves a place where wonder can flourish, where
    critical thinking is encouraged, and fun is required. Our goal is to create
    an environment of cuirosity! Sign up for our newsletter to learn how you can
    pariticipate!
  </p>
  <div class="kg-card kg-button-card kg-align-center">
    <a href="#/portal/signup" class="kg-btn kg-btn-accent">Register</a>
  </div>
</section>