<section class="gh-content">
  <h3>Our Mission</h3>
  <p>Redwoods Wonder Forge inspires wonder, creates an inclusive atmosphere, and
    provides STEAM (Science, Technology, Engineering, Art, and Math) programs to
    the youth of Del Norte, California, featuring robotics, community
    engagement, and events.</p>
</section>