<h3>Follow our feeds!</h3>
<ul class="clear-list">
  <li class="social-link">{{> "icons/facebook"}}<a
      href="https://www.facebook.com/RedwoodsWonderForge/"
    >Facebook</a></li>
  <li class="social-link">{{> "icons/instagram"}}<a
      href="https://www.instagram.com/redwoodswonderforge/"
    >Instagram</a></li>
  <li class="social-link">{{> "icons/linkedin"}}<a
      href="https://www.linkedin.com/company/redwoods-wonder-forge/about/"
    >LinkedIn</a></li>
  <li class="social-link">{{> "icons/youtube"}}<a
      href="https://www.youtube.com/@RedwoodsWonderForgeOrg"
    >YouTube</a></li>
</ul>