<section class="gh-content">
  <h3>Volunteer Opportunities</h3>
  <p>
    We are always looking for volunteers! Have an idea for a program? Let's
    talk!
  </p>
  <div class="kg-card kg-button-card kg-align-center">
    <a
      href="#tally-open=wdzWqo&tally-layout=modal&tally-emoji-text=👋&tally-emoji-animation=wave"
      class="kg-btn kg-btn-accent"
    >Volunteer Sign up</a>
  </div>
</section>